.img__ctn {
  background: lightgray;
  min-height: 109px;
  min-width: 252px;
  transition: all 3s ease-in-out;
}

clr-modal > .modal-dialog {
  width: 35rem!important;
}

::ng-deep clr-modal > .modal-backdrop {
  background: #7c7c7c1c !important;
  opacity: .1 !important;
}
