<header class="clr-flex-items-lg-center">
  <app-selector></app-selector>
</header>

<main>
  <app-calendar></app-calendar>
</main>

<section>

  <main>
    <ul *ngIf="tasks.length; else noTasks">
      <li class="task" *ngFor="let task of tasks; let i = index" [class.read-task]="task.isRead">
        <span>
          <strong>{{i + 1}}</strong>
          {{task.title}}
        </span>
        <div>
          <button class="btn btn-primary" (click)="remove(task)">Remove</button>
          <button class="btn btn-primary" *ngIf="!task.isRead" (click)="openArticle(task)">Read</button>
        </div>

      </li>
    </ul>

    <ng-template #noTasks>
      <p class="text-center">
        No Tasks
      </p>
    </ng-template>
  </main>

  <footer *ngIf="form">
    <form (ngSubmit)="submit()" [formGroup]="form">
      <input type="text" formControlName="title">
      <button [disabled]="form.invalid" type="submit" class="btn btn-primary btn-block">Add task</button>
    </form>
  </footer>
</section>
